DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=upcycleconnect

JWT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=projet.annuel42@gmail.com
SMTP_PASSWORD=orkhgxoxygjwbygy

BASE_URL=http://localhost:8080
TARIF_PREMIUM=15
